/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
*{
    margin: 0; 
    padding: 0;
    /*outline: 1px dashed #000; /*#fff to make into very fine line*/
}

html{
    font-size: 16px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: inherit;

}

.container{
    display: grid;
    grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
    grid-template-rows: repeat(6, min-content);
}

/* TODO */


/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav{
    display: flex;
    grid-column: full-start / full-end;
    background-color: #fff ;
    justify-content: space-between;
    height: 4rem;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    align-content: center;
    padding-right: 1rem;
}

nav ul li:last-child{
    padding-right: 1.5rem;
}

nav ul li a{
    font-size:0.75rem ;
}

nav> a{
    display: flex;
    align-items: center;
}

/* Set up logo styles */
.logo{
    height: 3rem;
    margin-left: 1.5rem;
}

.logoname{
    text-transform: uppercase;
    line-height: 2rem;
}

.logoname-bold{
    font-weight: bold;
    color: #484848;
}

.logoname-light{
    font-weight: lighter;
    color: #aaa;
}

nav ul li{
    font-size: 0.75rem;
}

/* Set up navigation links' styles */


/* Set up header area */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#d8d8d8;
}

.imgcontainer{
    padding: 2rem 1.5rem;
}

header img{
    max-width: 100%;
    height: auto;
}

header > div{   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 18rem;
    padding-right: 2rem;/* created padding for start button for right header*/
    
}

/* header:last-child > div{
    border: 1px solid #black;
} */

header div > h1{
    font-size: xx-large;
}

header div > h2{
    font-size: large;
}

header div > a{
    display: block;
    width: 100%;
    background-color: #484848; /*hex code with alpha*/
    color: white;
    text-align: center;
    padding: 0.5rem 0; /*top bottom left-right*/
}

/* hover effect for call to action link */

/* Set up practice section */

.practice{
    display: flex;                  /* Enable flexbox layout  */
    align-items: center;            /* Centers content vertically */
    justify-content: center;        /* Center content horizontally */
    flex-direction: column;
}

.practice > .imgcontainer > img{
    max-width: 100%;
    height: auto;
}

.practice > .practice-text{
    padding: 0 1.5rem;
}

.practice > .practice-text > h1{
    font-size: xx-large;
    margin-bottom: 1.5rem;
}

.practice > .practice-text > p{
    font-size: small;
    font-weight: lighter;
}

.practice > .practice-text > p > span{
    display: block;
    margin: auto;
    font-weight: bold;
    padding: 2rem 0;
}

/* Set up events section */

.events{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;

}

.events .events-block:first-child{
    padding-top: 2rem;
}

.events .events-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    padding: 1rem;
}

.events img{
    width: 100%;
    height: auto;
}

.events .events-text{
    margin-left: 1rem;
    height: 100%;
    align-content: center;
}

.events .events-text h3{
    font-size: large;

}

.events .events-text p{
    font-size: small;

}

.events .events-text a{
    font-size: small;
    color:#3434c6;

}

/* Set up Footer*/
footer{
    font-size: 0.8rem;
    display: flex;
    grid-column: full-start / full-end;
    justify-content: space-between;
    border-top: 1px solid #e7e7e7;
    padding-bottom: 1rem 1.5rem 2rem;

}

footer > ul {
    list-style: none;
    display: flex;
}

footer > ul > li{
    margin-right: 0.5rem;
}

footer > ul > li > a{
    color: #3434c6;
}

/* Hide events mobile */


/** ********************** **/
/** End of Desktop Section **/


/* TODO */

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem ) {
    

}

/* *********************** */
/** End of Mobile Section **/