/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
*{
    margin: 0; 
    padding: 0;
    /* outline: 1px dashed #000;*/   /*#fff to make into very fine line*/
}

html{
    font-size: 16px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: inherit;

}

.container{
    display: grid;
    grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
    grid-template-rows: repeat(6, min-content);
}

/* TODO */


/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav{
    display: flex;
    grid-column: full-start / full-end;
    background-color: #fff ;
    justify-content: space-between;
    height: 4rem;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    align-content: center;
    padding-right: 1rem;
}

nav ul li:last-child{
    padding-right: 1.5rem;
}


nav ul li a{
    font-size:0.75rem ;
}

nav> a{
    display: flex;
    align-items: center;
}

/* Set up logo styles */
.logo{
    height: 3rem;
    margin-left: 1.5rem;
}

.logoname{
    text-transform: uppercase;
    line-height: 2rem;
}

.logoname-bold{
    font-weight: bold;
    color: #484848;
}

.logoname-light{
    font-weight: lighter;
    color: #aaa;
}

nav ul li{
    font-size: 0.75rem;
}

/* Set up navigation links' styles */


/* Set up header area */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#d8d8d8;
}

.imgcontainer{
    padding: 2rem 1.5rem;
}

header img{
    max-width: 100%;
    height: auto;
}

header > div{   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 34.5rem;
    padding-right: 2rem;/* created padding for start button for right header*/
    
}

header div > h1{
    font-size: xx-large;
    text-align: left;
    padding-left: 2rem;
}

header div > h2{
    font-size: large;
    text-align: left;
    padding-left: 2rem;
    /* padding-bottom: 0rem; */
}

header div > a{
    display: block;
    width: 100%;
    background-color: #484848; /*hex code with alpha*/
    color: white;
    text-align: center;
    padding: 1rem 2rem; /*top bottom left-right*/
    
}

/* hover effect for call to action link */

/* Set up practice section */

.practice{
    display: flex;                  /* Enable flexbox layout  */
    align-items: center;            /* Centers content vertically */
    justify-content: center;        /* Center content horizontally */
    flex-direction: column;
}

.practice > .imgcontainer > img{
    max-width: 100%;
    height: auto;
}

.practice > .practice-text{
    padding: 0 1.5rem;
}

.practice > .practice-text > h1{
    font-size: xx-large;
    margin-bottom: 2rem;
    text-align: left;
}

.practice > .practice-text > p{
    font-size: small;
    font-weight: lighter;
    text-align: left;
}

.practice > .practice-text > p > span{
    display: block;
    margin: auto;
    font-weight: bold;
    padding: 2rem 0;
}

/* Set up events section */

.events{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;

}

.events .events-block:first-child{
    padding-top: 2rem;
}

.events .events-block:last-child{
    background-color:#d8d8d8;
} 

.events .events-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    padding: 1rem;
}

.events > .events-block > .events-img-desktop{
    width: 100%;
    height: auto;
}

.events > .events-block > .events-text{
    margin-left: 1rem;
    height: 100%;
    align-content: center;
}

.events > .events-block > .events-text-lmobile{
    display: none;
}

.events > .events-block > .events-text h3{
    
    font-size: large;
    text-align: left;
}

.events > .events-block > .events-text p{
    padding-top: 0.5rem;
    font-size: small;
    text-align: left;
}

.events > .events-block > .events-text a{
    font-size: small;
    color:#3434c6;
}

/* Setup for learning for desktop */

.learning{
    display: grid;
    width: 100%;
    height: auto;
    grid-column: full-start / full-end;
    grid-template-rows: repeat(1, min-content);
    border-left: 1px solid #e7e7e7;
    padding-top: 2rem;
    /* padding-bottom: 2rem; */
    background-color: #d8d8d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
   width: 100%;
   text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 32px;
    color: #333;
  }
  
  .cards-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-column: full-start / full-end;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #d8d8d8;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    gap: 32px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    padding: 1rem;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h3 {
    font-size: 1.5em;
    margin: 16px 0 8px;
    text-align: left;
    padding: 1rem;
  }
  
  .card .course-type {
    font-size: 0.9em;
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
  }
  
  .card p {
    font-size: 0.9em;
    color: #555;
    padding: 0 16px 16px;
    line-height: 1.4;
  }
  

/* Setup for Thesis and video for desktop */
.video-container{
    .video-container{
        max-width: 400px;  /* Set a maximum width for the container*/
        /*margin: 20px auto; /* Center the container */
        /* text-align: center; */ /* Optional: centers the video inside the container */
    }
    video {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%; /* Video will scale to the container's width */
        /*max-width: 300px; /* Optional: set a maximum width for the video */
        height: 100%; /* Maintains aspect ratio */
        display: block; /* Ensures the video behaves like a block element */
    }
}

/* setup for Thesis */

.thesis{
    display: grid;
    width: 100%;
    height: auto;
    grid-column: full-start / full-end;
    grid-template-rows: repeat(1, min-content);
    border-left: 1px solid #e7e7e7;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.thesis .text{
    display:block;
}

.thesis > .text-mobile{
    display: none;
}  

.video > .thesis-block > h2{
    font-size: large;
    text-align: left;
    padding-left: 1rem;
}

.video > .thesis-block > p{
    font-size: small;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.thesis{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;

}



.events > .events-block > .events-img-desktop1{
    width: 100%;
    height: auto;
}

.events > .events-block > .events-text1{
    margin-left: 1rem;
    height: 100%;
    align-content: center;
    text-align: left;
}

.events > .events-block > .events-text1 h3{
    font-size: large;
    text-align: left;
}

.events > .events-block > .events-text1 p{
    padding-top: 0.5rem;
    font-size: small;
    text-align: left;
}



/* Set up Footer*/
footer{
    font-size: 0.8rem;
    display: flex;
    grid-column: full-start / full-end;
    justify-content: space-between;
    border-top: 1px solid #e7e7e7;
    padding: 1rem 1.5rem 2rem;
}

footer > ul {
    list-style: none;
    display: flex;
}

footer > ul > li{
    margin-right: 0.5rem;
}

footer > ul > li > a{
    color: #3434c6;
}

/* Responsive section */

/*Hide nav for mobile */
#nav-mobile{
    display: none;
}

/* Hide events mobile */
.events > .events-block > .events-img-mobile{
    display: none;
}

/** ********************** **/
/** End of Desktop Section **/



/* TODO */

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem ) {
    
    /*hide desktop nav*/
    nav, .practice{
        display: none;
    }  
    /*Display navbar*/
    #nav-mobile{
        display: flex;
        align-items: center;
        justify-content: space-around;
        grid-column: full-start/full-end;
        height: 4rem;
        /* border: 1px solid #0000; */
    }

    /*Set header image to take up entire screen*/
    header{
        display: grid;
        grid-column: full-start/full-end;
    }
    
    .imgcontainer{
        padding: 0;
    }

    header > div{
        display: block;
        width: auto;
        height: auto;
        padding: 2rem 1rem;
    }

    header > div > h2{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .events{
        display: grid;
        grid-column: full-start / full-end;
        border-left: none;
    }

    .events > .events-block{
        display: flex;
        flex-direction: column;
        padding: 4rem 1rem 0 1rem;
        border-bottom: none;
    }

    .events > .events-block:first-child{
        padding-top: 1rem;
    }

    .events > .events-block:last-child{
        padding-bottom: 1rem;
        background: none; 
    }

    .events > .events-block > .events-img-desktop{
       display: none;
        
    }

    .events > .events-block > .events-img-mobile{
        display: block;
        width: 100%;
        height: auto;
    }

    .events > .events-block > .events-text{
        /* border: 1px solid #000; */     /* use this to create box to see the adjustment */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 5rem;
        margin-left: 1rem;

    }

    /* Setup Learning for Mobile*/

    .learning{
        background-color: #fff;
    }

    .cards-container{
        background-color: #fff;
    }

    .cards-container > .card{
        background-color: #aaa;
        margin-top: 1rem;
        width: flex;
    }

    .cards-container > .card img{
        display: none;
    
    } 

    .cards-container > .card p{
        display: none;
        
    } 

    .cards-container{
        display: block;
        /* background-color: #aaa; */

    }

    /* Setup Thesis for Mobile*/
    .thesis .text{
        display:none;
    }
    
    .thesis > .text-mobile{
        display:block;
    }  

    .video > .video-container {
        width:90dvw;

    }

    .video > .thesis-block > h2{
        display: none;
    }
    
    .video > .thesis-block > p{
        display: none;
    }

    .events > .events-block > .events-img-desktop1{
        display: none;
    }
    
    .events > .events-block > .events-text1{
        display: none;
    }
    
    /* Set footer for mobile*/

    footer > ul{
        display: none;
    }

}

/* *********************** */
/** End of Mobile Section **/